@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
}
body{
    padding: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 96px;
}
.contacts {
    display: flex;
    flex-direction: column;
    gap: 20px
}